NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB9TuXjjmUXaLhVxl3C4HrvLbluMzwG1tk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=techstartup-akash-3e151.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=techstartup-akash-3e151
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=techstartup-akash-3e151.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=206567832952
NEXT_PUBLIC_FIREBASE_APP_ID=1:206567832952:web:b4e6404072c4dcacf95c8d
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-ZTYX7LLM71